{% extends 'base.html'  %}

{% block title %}
    <title>AdLaYr HealthMix | Product Details</title>
{% endblock %}

{% block main %}

  {% include "adlayr_hm/navbar.html" %}
  <div class="container-fluid bg-black" id="pd-container">
    <div class="container">
      <div class="row align-items-center g-5" id="pd-row">

        <!-- Product Image Section -->
        <div class="col-lg-6 text-center">
          <img id="mainImage" src="{{ product_images.0.image.url }}" class="img-fluid product-main-img">

          <!-- Thumbnails -->
          <div class="d-flex justify-content-center gap-3 mt-4">
            {% for image in product_images %}
            <img src="{{ image.image.url }}" class="thumb {% if forloop.first %} active {% endif %}" onclick="changeImage(this)">
            {% endfor %}
          </div>
        </div>

        <!-- Product Details -->
        <div class="col-lg-6 text-white">
          <h1 class="product-title">{{ product.name }}</h1>

          <div class="d-flex align-items-center gap-3 mb-3">
            <span class="price">₹ {{ product.price }}</span>
            <div class="rating">
              ★★★★☆
              <span class="review-text">8 Reviews</span>
            </div>
          </div>

          <p class="product-desc">
            {{ product.description }}
          </p>

          <p class="meta"><strong>Ingrediants:</strong> {{ product.ingredients }}</p>
          <p class="meta"><strong>Health Benefits:</strong> {{ product.benefits }}</p>

          <!-- Quantity + Cart -->
          <div class="d-flex align-items-center gap-3 mt-4">
            <div class="quantity-box">
              <button onclick="updateQty(-1)">-</button>
              <input type="text" id="qty" value="1">
              <button onclick="updateQty(1)">+</button>
            </div>

            <button class="btn btn-gold">
              <i class="bi bi-cart-fill"></i> ADD TO CART
            </button>

            <button class="wishlist-btn">
              <i class="bi bi-heart"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}