/* Navbar */
.backdrop-blur {
  backdrop-filter: blur(10px);
}
.dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 215, 0, 0.2);
}

/* banner */
.banner {
  position: relative;
  overflow: hidden;
}
.banner::before {
  content: "";
  position: absolute;
  top: -10%;
  right: -10%;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(255,215,0,0.2), transparent);
  filter: blur(80px);
  z-index: 0;
}
.banner .container {
  position: relative;
  z-index: 2;
}